{% extends 'tent/base.html' %}
{% load static %}
{% block title %}Über Mich{% endblock %}
{% block aboutMe_active %}active{% endblock %}

{% block body %}
    <div id="parallax-aboutMe" class="parallax-container">
        <div class="parallax"><img src="{% static 'tent/images/paralla -small.jpg' %}">
            <div class="container-animated-arrow">
                <div class="chevron chevron-partytent"></div>
                <div class="chevron chevron-partytent"></div>
                <div class="chevron chevron-partytent"></div>
            </div>
            <div id="background-aboutMe">
                <h1>Über Mich</h1>
            </div>
        </div>
    </div>

    <p class="flow-text">Haben wir Ihr Interesse geweckt? Zögern Sie nicht, uns zu kontaktieren. Senden Sie uns mit
        untenstehendem Kontaktformular die Angaben zu Ihrem Festanlass. Sehr gerne senden wir Ihnen eine unverbindliche
        Offerte zu.</p>
    <p class="flow-text">Haben wir Ihr Interesse geweckt? Zögern Sie nicht, uns zu kontaktieren. Senden Sie uns mit
        untenstehendem Kontaktformular die Angaben zu Ihrem Festanlass. Sehr gerne senden wir Ihnen eine unverbindliche
        Offerte zu.</p>

    <iframe width="560" height="315" src="https://www.tagblatt.ch/ostschweiz/toggenburg/partyzelt-vermieter-armin-braendle-das-erste-zelt-kaufte-er-mit-geliehenem-geld-ld.1155327" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>


{% endblock %}