{% extends 'tent/base.html' %}
{% load static %}
{% block title %}Über uns{% endblock %}
{% block aboutMe_active %}active{% endblock %}

{% block body %}
    <div id="parallax-aboutMe" class="parallax-container">
        <div class="parallax"><img src="{% static 'tent/images/parallax - header.jpg' %}">
            <div class="container-animated-arrow">
                <div class="chevron chevron-partytent"></div>
                <div class="chevron chevron-partytent"></div>
                <div class="chevron chevron-partytent"></div>
            </div>
            <div id="background-aboutMe">
                <h1>Über Uns</h1>
            </div>
        </div>
    </div>

    <p class="flow-text">Bereits seit 1996 ist Armin Brändle in der Eventbranche aktiv. Angefangen mit der Vermietung
        von kleinen Zelten mit Kapazitäten bis 300 Personen hat sich das Angebot stetig entwickelt. Im Jahr 2017 wurde
        aus der Einzelfirma die Brändle Partyzelte GmbH gegründet. Von Mosnang aus beliefern wir die gesamte Region mit
        Festinventar um zu gelungenen Anlässen beizutragen.</p>

    <img src="{% static 'tent/images/carousel - Zelt Wiese.jpg' %}">

    <iframe width="560" height="315"
            src="https://www.tagblatt.ch/ostschweiz/toggenburg/partyzelt-vermieter-armin-braendle-das-erste-zelt-kaufte-er-mit-geliehenem-geld-ld.1155327"
            frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    <div class="carousel">
        <a class="carousel-item" href="#five!"><img src="{% static 'tent/images/carousel - Zelt Wiese.jpg' %}"></a>
        <a class="carousel-item" href="#two!"><img src="{% static 'tent/images/carousel - Industrie.jpg' %}"></a>
        <a class="carousel-item" href="#three!"><img src="{% static 'tent/images/carousel - Zelt Iddaburg.jpg' %}"></a>
        <a class="carousel-item" href="#one!"><img src="{% static 'tent/images/carousel - riesen Zelt.jpg' %}"></a>
        <a class="carousel-item" href="#four!"><img
                src="{% static 'tent/images/carousel - Zelt Markthalle.jpeg' %}"></a>
    </div>


{% endblock %}