<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% include 'material/includes/material_css.html' %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'tent/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tent/cardStyle.css' %}">
</head>
<body>

{% comment %}Header{% endcomment %}
<nav>
    <div class="nav-wrapper">
        <a href="{% url 'tent:index' %}" class="brand-logo">Logo</a>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Rund- und Spezialzelte</a></li>
            <li class="{% block partyTent_active %}{% endblock %}"><a href="{% url 'tent:party_tent_search' %}">Partyzelte</a></li>
            <li class="{% block equipment_active %}{% endblock %}"><a href="{% url 'tent:equipment' %}">Zubehör</a></li>
            <li><a href="#">Über uns</a></li>
            <li  class="{% block offer_active %}{% endblock %}"><a href="{% url 'tent:offer' %}">Offerte/Anfrage</a></li>
        </ul>
    </div>
</nav>

{% comment %}Mobile Menu{% endcomment %}
<ul id="slide-out" class="sidenav">
    <li>
        <div class="background">
            <p>Placeholder for Logo IMG</p>
        </div>
    </li>
    <li><a href="#">Rund- und Spezialzelte</a></li>
    <li><a href="#">Partyzelte</a></li>
    <li><a href="#">Zubehör</a></li>
    <li><a href="#">Über uns</a></li>
    <li><a href="#">Offerte/Anfrage</a></li>
</ul>

{% comment %}Parallax{% endcomment %}
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'tent/images/parallax.jpg' %}"></div>
</div>


{% comment %}Main-Content{% endcomment %}
<main>
    {% block body %}

    {% endblock %}
</main>


{% comment %}Footer{% endcomment %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">Placeholder for Logo IMG</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Navigation</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#">Rund- und Spezialzelte</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Partyzelte</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Zubehör</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Über uns</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Offerte/Anfrage</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <a class="grey-text text-lighten-4">Brändle Partyzelte | Bodenweg 3 | 9607 Mosnang | 079 344 36 81 | 071 983 50
            64</a>
    </div>
</footer>

{% comment %}Framework{% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
{% include 'material/includes/material_js.html' %}
<script>

    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.parallax').parallax();
    });

</script>
</body>
</html>