{% extends 'tent/base.html' %}
{% load static %}
{% block title %}Brändle Partyzelt{% endblock %}

{% block body %}
    <h1>Wir lassen Sie nicht im Regen stehen!</h1>
    <p>Seit Jahren ist die Zeltvermietung Brändle ein verlässlicher Partner, wenn es um die Vermietung von Festzelten
        und Zubehör geht.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
        sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

    <p><strong>Ob Gartenfest, Geburtstagsfeier, Dorffest, Hochzeit,Open-Air etc.,
        wir bieten das passende Zelt mit Zubehör, das Ihren Wünschen und Erwartungen entspricht.</strong></p>

    <p>Verlangen Sie unverbindlich eine Offerte.
        Es würde uns freuen, wenn wir zum guten Gelingen Ihres nächsten Anlasses mit einem unserer Zelte einen Beitrag
        leisten dürften.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
        sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

    <div id="parallax-index" class="parallax-container">
        <div class="parallax"><img src="{% static 'tent/images/parallax2.jpg' %}"></div>
    </div>

    <h1>Wir lassen Sie nicht im Regen stehen!</h1>
    <p>Seit Jahren ist die Zeltvermietung Brändle ein verlässlicher Partner, wenn es um die Vermietung von Festzelten
        und Zubehör geht.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
        sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

    <p><strong>Ob Gartenfest, Geburtstagsfeier, Dorffest, Hochzeit,Open-Air etc.,
        wir bieten das passende Zelt mit Zubehör, das Ihren Wünschen und Erwartungen entspricht.</strong></p>

    <p>Verlangen Sie unverbindlich eine Offerte.
        Es würde uns freuen, wenn wir zum guten Gelingen Ihres nächsten Anlasses mit einem unserer Zelte einen Beitrag
        leisten dürften.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
        sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
{% endblock %}