/*
.search-form {
    display: flex;
    flex-direction: column;
}

.search-container {
    width: 100%;
    display: flex;
}*/
.search-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-button-container > button {
    margin-bottom: 15px;
}